.retangulo {
    padding: 0.75rem;
    margin: 0.75rem;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
    display: flex;
    height: 2.5rem;
    position: relative;
}

.retangulo .posControls{
    background-color: white;
    border-radius: 10px;
    position: initial;
    display: none;
}

.retangulo:hover .posControls {
    display: block;
    position: absolute;
}

.retangulo .posControls button { 
    cursor: pointer;
    font-size: 2rem;
    border: none;
    margin:0;
    margin-right: 0.25rem;
}

.retangulo .text {
    flex: 4;
    font-size: 2rem;
    margin-top: -0.1rem;
}

.work {
    flex: 3;
    font-size: 2rem;
    margin-top: 0.25rem;
} 

.work .scoreControls {
    background-color: white;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: hidden;
    display: none;
}
.work:hover .scoreControls {
    display:initial;
}

.score {
    font-size: 2rem;
}

.done {
    flex: 0.5;
    cursor: pointer;
    font-size: 2rem;
} 

  